**/*

# Whitelist certain files and/or directories
!src
!src/**
!include
!include/**
!tests
!tests/**
!nix
!nix/**
!3rd-party
!3rd-party/**
!cmake
!cmake/**
!meta
!meta/**
!.github
!.github/**
!.envrc
!.gitignore
!.gitmodules
!.ignore
!CMakeLists.txt
!CONTRIBUTING.md
!Doxyfile
!LICENSE
!README.md
!flake.lock
!flake.nix
!treefmt.nix
!.clang-format
