[submodule "3rd-party/libxml2"]
	path = 3rd-party/libxml2
	url = https://gitlab.gnome.org/GNOME/libxml2.git
[submodule "3rd-party/cpr"]
	path = 3rd-party/cpr
	url = https://github.com/libcpr/cpr.git
[submodule "3rd-party/args"]
	path = 3rd-party/args
	url = https://github.com/Taywee/args.git
[submodule "3rd-party/nlohmann-json"]
	path = 3rd-party/nlohmann-json
	url = https://github.com/nlohmann/json.git
